image: golang:latest

stages:
  - build
  - test
  - quality
  - security

variables:
  GOPATH: "$HOME/go"
  BINARY_NAME: "app" # default binary name, should be detected automatically

cache:
  paths:
    - "$GOPATH/pkg/mod"

build:
  stage: build
  script:
    - apt-get update
    - apt-get -y install libc6-dev libgl1-mesa-dev libxcursor-dev libxi-dev libxinerama-dev libxrandr-dev libxxf86vm-dev libasound2-dev pkg-config # specific to ebiten
    - go mod download
    - go build -o $BINARY_NAME ./cmd/*
  artifacts:
    paths:
      - $BINARY_NAME
    expire_in: 1 week
    name: "${CI_PROJECT_NAME}-${CI_COMMIT_REF_NAME}"
  only:
    - main
    - merge_requests

test:
  stage: test
  script:
    - apt-get update
    - apt-get -y install libc6-dev libgl1-mesa-dev libxcursor-dev libxi-dev libxinerama-dev libxrandr-dev libxxf86vm-dev libasound2-dev pkg-config # specific to ebiten
    - apt-get -y install xorg-dev libglu1-mesa libgl1-mesa-dev xvfb libxinerama1 libxcursor1
    - export DISPLAY=:99
    - Xvfb :99 -screen 0 1400x900x24 +extension RANDR &
    - sleep 3 # giving it the time to start
    - go test -v ./...

staticcheck:
  stage: quality
  image: golang:latest
  script:
    - export PATH=$GOPATH/bin:$PATH
    - apt-get update
    - apt-get -y install libc6-dev libgl1-mesa-dev libxcursor-dev libxi-dev libxinerama-dev libxrandr-dev libxxf86vm-dev libasound2-dev pkg-config # specific to ebiten
    - go install honnef.co/go/tools/cmd/staticcheck@latest
    - staticcheck ./...
  allow_failure: true

trivy:
  stage: security
  image:
    name: aquasec/trivy:latest
    entrypoint: [""]
  script:
    - trivy fs --exit-code 0 --no-progress --severity HIGH,CRITICAL .
  allow_failure: true

