name: Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  GOPATH: ${{ github.workspace }}/go
  BINARY_NAME: "app"

jobs:
  build:
    runs-on: ubuntu-latest
    #container: golang:latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v6
      with:
        go-version: '1.25.2'

    - name: Build
      run: |
        make -j$(nproc) helper-bin helper-bin-fips runner-bin runner-bin-fips
        if [[ "$GITHUB_SERVER_URL" == "https://github.com" &&
              ("$GITHUB_REPOSITORY" == "gitlab-org/gitlab-runner" ||
               "$GITHUB_REPOSITORY" == "gitlab-org/security/gitlab-runner") &&
              -n "$GITHUB_REF_NAME" && "$GITHUB_REF_TYPE" == "tag" ]]; then
          echo "Signing binaries..."
          scripts/sign-windows-binaries
          scripts/sign-macos-binaries
        else
          echo "Not signing binaries"
        fi

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: binaries
        path: out/binaries/gitlab-runner*
        retention-days: 7

  test:
    runs-on: ubuntu-latest
    container: golang:latest
    needs: build

    steps:
    - uses: actions/checkout@v4

    - name: Cache Go modules
      uses: actions/cache@v4
      with:
        path: ${{ env.GOPATH }}/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Run tests
      run: |
        apt-get update
        apt-get -y install libc6-dev libgl1-mesa-dev libxcursor-dev libxi-dev libxinerama-dev libxrandr-dev libxxf86vm-dev libasound2-dev pkg-config
        apt-get -y install xorg-dev libglu1-mesa libgl1-mesa-dev xvfb libxinerama1 libxcursor1
        export DISPLAY=:99
        Xvfb :99 -screen 0 1400x900x24 +extension RANDR &
        sleep 3 # giving it time to start
        go test -v ./...

  staticcheck:
    runs-on: ubuntu-latest
    container: golang:latest
    needs: build
    continue-on-error: true

    steps:
    - uses: actions/checkout@v4

    - name: Cache Go modules
      uses: actions/cache@v4
      with:
        path: ${{ env.GOPATH }}/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Run staticcheck
      run: |
        export PATH=$GOPATH/bin:$PATH
        apt-get update
        apt-get -y install libc6-dev libgl1-mesa-dev libxcursor-dev libxi-dev libxinerama-dev libxrandr-dev libxxf86vm-dev libasound2-dev pkg-config
        go install honnef.co/go/tools/cmd/staticcheck@latest
        staticcheck ./...

  security:
    runs-on: ubuntu-latest
    needs: build
    continue-on-error: true

    steps:
    - uses: actions/checkout@v4

    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: 'fs'
        exit-code: '0'
        severity: 'HIGH,CRITICAL'
        format: 'table'